<div class="card shadow p-3">
  <div>
    <h1>Productos</h1>
    <p>Escoge la categría que buscas</p>
    <hr class="m-0" />
  </div>
  <div class="card-body">
    <div class="row mt-0">
      <div class="col-lg-4">
        <div class="card p-3">Ropa</div>
      </div>
      <div class="col-lg-4">
        <div class="card p-3">Ropa</div>
      </div>
      <div class="col-lg-4">
        <div class="card p-3">Ropa</div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4" *ngFor="let producto of productos">
        <div class="card shadow" style="height: 30rem">
          <div style="width: 100%; height: 50%">
            <img
              src="https://yoyojeans.vteximg.com.br/arquivos/ids/174868-450-491/JEAN-30055139-OSCURO_1.jpg?v=637569760572570000"
              style="width: 100%; height: 100%; object-fit: cover"
              alt="..."
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">
              {{ producto.nombre }}
              <span>{{ producto.precio | currency }}</span>
            </h5>
            <p class="card-text">{{ producto.informacion }}</p>
          </div>
          <div class="card-footer bg-transparent text-center">
            <a class="btn btn-primary">Agregar al carrito</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <hr />
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link">Anterior</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
