.container_spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

::ng-deep {
  .carousel-inner{
    height: 100% !important;
  }
}

.info_scroll{
  overflow-y: scroll;
}