<div class="container">
  <header
    class="d-flex flex-wrap justify-content-md-between py-3 mb-4 border-bottom"
  >
    <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
      <li>
        <a [routerLink]="['inicio']" class="nav-link px-2 link-secondary"
          >Inicio</a
        >
      </li>
      <li>
        <a
          [routerLink]="['productos/lista']"
          class="nav-link px-2 link-secondary"
          >Productos</a
        >
      </li>
      <li *ngIf="existeUsuario">
        <a
          [routerLink]="['productos/crear']"
          class="nav-link px-2 link-secondary"
          >Crear</a
        >
      </li>
    </ul>
    <!-- <div class="carrito">
      <button
        type="button"
        class="btn btn-primary position-relative"
        (click)="mostrarPanel = !mostrarPanel"
      >
        Productos agregados
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          0
        </span>
      </button>
    </div> -->
    <div class="text-end">
      <ng-container *ngIf="existeUsuario; else noUsuario">
        <div class="row">
          <div class="col-lg-6 align-self-center">
            {{ nombreUsuario }}
          </div>
          <div class="col-lg-6">
            <button
              type="button"
              class="btn btn-outline-warning"
              (click)="logout()"
            >
              Cerrar sesión
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #noUsuario>
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          [routerLink]="['/auth/login']"
        >
          Iniciar sesión
        </button>
      </ng-template>
    </div>
  </header>
</div>

<div class="container_panel card shadow-sm" *ngIf="mostrarPanel">
  <h4>Productos en tu carrito</h4>
  <hr class="mt-0" />
</div>
