<div class="card shadow p-3">
  <div>
    <h1>Crear/Editar Productos</h1>
    <hr class="m-0" />
  </div>
  <div class="card-body">
    <form class="row" [formGroup]="productoForm">
      <div class="col-lg-4 mb-2">
        <label> Nombre</label>
        <input
          class="form-control"
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
        />
        <span
          class="fiel_error"
          *ngIf="
            productoForm.get('nombre')?.errors?.required &&
            productoForm.get('nombre')?.touched
          "
        >
          Campo requrido
        </span>
      </div>
      <div class="col-lg-4 mb-2">
        <label> Código</label>
        <input
          class="form-control"
          type="text"
          placeholder="Código"
          formControlName="codigo"
        />
        <span
          class="fiel_error"
          *ngIf="
            productoForm.get('codigo')?.errors?.required &&
            productoForm.get('codigo')?.touched
          "
        >
          Campo requrido
        </span>
      </div>
      <div class="col-lg-4 mb-2">
        <label> Categoría</label>
        <select class="form-select w-100" formControlName="categoria">
          <option [value]="null">Seleccione una opción</option>
          <option [value]="item.nombre" *ngFor="let item of categorias">
            {{ item.nombre }}
          </option>
        </select>
        <span
          class="fiel_error"
          *ngIf="
            productoForm.get('categoria')?.errors?.required &&
            productoForm.get('categoria')?.touched
          "
        >
          Campo requrido
        </span>
      </div>
      <div class="col-lg-4 mb-2">
        <label> Sub Categoría</label>
        <select class="form-select w-100" formControlName="subcategoria">
          <option [value]="null">Seleccione una opción</option>
          <option
            [value]="subCategoria"
            *ngFor="let subCategoria of subCategorias"
          >
            {{ subCategoria }}
          </option>
        </select>
        <span
          class="fiel_error"
          *ngIf="
            productoForm.get('subcategoria')?.errors?.required &&
            productoForm.get('subcategoria')?.touched
          "
        >
          Campo requrido
        </span>
      </div>
      <div class="col-lg-4 mb-2">
        <label> Precio</label>
        <input
          class="form-control"
          type="number"
          placeholder="Precio"
          formControlName="precio"
        />
        <span
          class="fiel_error"
          *ngIf="
            productoForm.get('precio')?.errors?.required &&
            productoForm.get('precio')?.touched
          "
        >
          Campo requrido
        </span>
      </div>

      <div class="col-lg-4 mb-2">
        <label> Información</label>
        <textarea
          class="form-control"
          aria-label="With textarea"
          formControlName="informacion"
        ></textarea>
        <span
          class="fiel_error"
          *ngIf="
            productoForm.get('informacion')?.errors?.required &&
            productoForm.get('informacion')?.touched
          "
        >
          Campo requrido
        </span>
      </div>
      <div class="col-lg-12 mb-2 imagen">
        <div class="alert alert-secondary" role="alert">
          <div class="border_container_interno">
            <ng-container *ngIf="archivos.length > 0; else elseTemplate">
              <div class="row">
                <div class="col-lg-4" *ngFor="let item of archivos; index as i">
                  <div class="card archivo" (click)="borrarArchivo(i)">
                    <div class="card-body">
                      <div class="info_tarjeta">
                        {{ item.imagen }}
                        <i class="fa-solid fa-trash-can"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplate>
              No tienes archivos agregados
            </ng-template>
          </div>
        </div>

        <input
          type="file"
          class="file-input"
          (change)="onArchivoSeleccionado($event)"
          accept=".png, .jpg, .jpeg"
          #subirArchivo
        />

        <button class="btn btn-primary" (click)="subirArchivo.click()">
          Seleccionar archivos
        </button>
      </div>
    </form>
    <div class="row mt-2">
      <div class="col-lg-12">
        <div class="text-end">
          <button
            type="button"
            class="btn btn-danger mr-3"
            [routerLink]="['inicio']"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="cargando"
            (click)="guardarProducto()"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
