.info_tarjeta {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nombre-tarjeta {
  padding: 10px !important;
}

.vuelo :hover {
  cursor: pointer;
}

.seccionNavegacion {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
